/* The cards that is on the om.html page */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

/* On mouse-over, add a deeper shadow */
/*
.card:hover {
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.2);
}
*/

.img {
    width: 100%;
}

#utviklet {
    font-size: 32px;
    letter-spacing: -2px;
    font-weight: bold;
    color: #495156;
}

h4 {
    padding: 5px;
}
