#indexSearch {
    z-index: 0;
}

/* The index.html schoolList css */
#indexList {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #495156;
    font-size: 18px;
}

#indexList td {
    text-align: left;
    background-color: #e5e5e5;
    width: 100%;
}

/* The list rows */
#indexList td div a {
    display: inline-block;
    text-decoration: none;
    color: #495156;
    padding: 12px; /* Top Right Bottom Left */
}

/* Make the table chose when to have the scrollbar and height of the list box*/
#noScroll {
    height: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: block;
}

.listElement {
    width: 100%;
}

.addButton {
    float: right;
}

.addButton:hover {
    cursor: pointer;
}

/* The list rows */
.addButton td div a {
    display: inline-block;
    text-decoration: none;
    color: #495156;
}