@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway';

/* Changes done on all pages. !important to overwrite any other css on other stylesheets */
* {
    /* Change all font to Lucida Grande */
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

    /* Change all rounded borders to square */
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    box-sizing: border-box; /* Make divs with same height and width the same */
}

/* CSS on all pages */
html, body {
    background-color: #f5f5f5; /* Change BK-color for all pages */
    overflow-x: hidden; /* Remove horizontal scroll on all pages */
    -ms-overflow-x: hidden; /* Remove horizontal scroll on all pages for older IE*/
    -webkit-overflow-scrolling: touch; /* Remove horizontal scroll on all mobile devices */
}

/* <h1> on the frontpage */
#title {
    font-size: 8em;
    letter-spacing: -3px;
    font-weight: bold;
    color: #495156;
}

#subtitle {
    font-size: 2em;
    color: #495156;
}

#icon {
    font-size: 6em;
    color: #495156;
    margin-top: -30px;
}

#kommuneList {
    width: 10%;
    margin: 0 auto;
    float: none;
}

#kommuneList td {
    background-color: #e5e5e5;
    border: 1px black solid;
}

/* The list rows */
#kommuneList td a {
    display: inline-block;
    text-decoration: none;
    color: #495156;
    padding: 12px; /* Top Right Bottom Left */
    width: 110px;
}

#kommuneList td a:hover {
    background-color: #495156;
    color: #f5f5f5;
}

/* The main grey / blue color for backgrounds */
.mainColor {
    background-color: #495156;
}

.backgroundColor {
    background-color: #f5f5f5;
}

/* The main grey / blue color for text */
.mainColorText {
    color: #495156;
}

/* The welcome text that's under the searchbar */
#welcomeText {
    width: 50%;
    margin: -400px auto; /* Top Right Bottom Left */
}

#welcomeText p {
    width: 75%;
    margin: 0 auto;
    color: #495156;
}

/* The two buttons (position and help) thats on either side of the searchbar in kommune.html */
.input-group-addon {
    cursor: pointer;
}

.indexSchoolButton {
    cursor: pointer;
}

.disableClick {
    pointer-events: none;
}

#iconeducationhat {
    z-index: 2;
}

.cursorPointer {
    cursor: pointer;
}

.cursorHelp {
    cursor: help;
}

/* Medium devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {
    #title {
        font-size: 6em;
    }
}

/* Small devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
    #title {
        font-size: 3em;
    }
}

/* Small devices (tablets, 768px and down) */
@media screen and (max-width: 321px) {
    #icon {
        display: none;
    }
}

