/* CSS list */
#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -20px;
}

#myUL li span {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    display: block;
    text-align: left !important;
    cursor: default;
}

#myUL li span.header {
    background-color: #e2e2e2;
    cursor: pointer;
    text-align: center !important;
}

#myUL li span.header:hover {
    color: #6BA9BF;
    cursor: pointer;
}

#myUL li span:hover:not(.header) {
    background-color: #eee;
}

/* Make the calendarList have a fixed height and scrollable */
#noScrollCalendar {
    height: 540px;
    overflow: auto;
    display: block;
}

/* Date number in calendarList */
.dateNum {
    float: left;
    background-color: inherit !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-right: 15px !important;
    font-size: 1em !important;
    font-weight: bold;
}

/* Legend circle in calendarList */
.legendCircle {
    float: right;
    border-radius: 100% !important;
    border: none !important;
    position: inherit;
}

.space {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    margin-right: 10px !important;
    visibility: hidden;
}

/* Make the calendarList not have a fixed height and scrollbar on mobile */
/* Medium devices (desktops, 992px and down) */
@media screen and (max-width: 1420px) {
    #myUL li span {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1260px) {
    #myUL li span {
        font-size: 1em;
    }
}

@media screen and (max-width: 1070px) {
    #myUL li span {
        font-size: 0.9em;
    }

    .legendCircle {
        margin-top: -4px !important;
    }

    .dateNum {
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 992px) {
    #noScrollCalendar {
        overflow: visible;
    }
}

@media screen and (max-width: 321px) {
    #myUL li span {
        font-size: 0.75em;
    }
}


