/* CSS Calendar */
ul {
    list-style-type: none;
}

.month {
    padding: 30px 25px;
    width: 100%;
    background: #495156;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
    color: #777;
    padding: 20px;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.blue {
    background-color: blue;
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    padding: 20px;
}

.green {
    background-color: green;
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    padding: 20px;
}

.red {
    background-color: red;
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    padding: 20px;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
/* CSS Calendar end */

/* CSS list */
#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a.header {
    background-color: #e2e2e2;
    cursor: default;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}
/* CSS list end */
