/* The main table css */
#indexList {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #495156;
    font-size: 18px;
}

#indexList td {
    text-align: left;
    background-color: #e5e5e5;
    width: 100%;
}

/* The list rows */
#indexList td div a {
    display: inline-block;
    text-decoration: none;
    color: #495156;
    padding: 12px; /* Top Right Bottom Left */
}

/* The list rows text when hovering */
/* The list rows background when hovering */
#indexList td a:hover {
    color: #fff;
    background-color: #495156;
}

/* Make the table chose when to have the scrollbar and height of the list box*/
#noScroll {
    height: 400px;
    overflow: auto;
    display: block; 
}

.listElement {
    width: 100%;
}

.addButton {
    float: right;
}

/* The list rows */
.addButton td div a {
    display: inline-block;
    text-decoration: none;
    color: #495156;
}

/* The list rows text when hovering */
/* The list rows background when hovering */
.addbutton td a:hover {
    color: #fff;
    background-color: #495156;
}
