#kommuneList {
    margin: 0 auto; /* Center align */
}

#kommuneList td {
    background-color: #e5e5e5;
    border: 1px #495156 solid;
}

/* The list rows */
#kommuneList td a {
    display: inline-block;
    text-decoration: none;
    color: #495156;
    padding: 15px; /* Top Right Bottom Left */
    width: 130px;
}

#kommuneList td a:hover {
    background-color: #495156;
    color: #f5f5f5;
}

/* Small devices (tablets, 470px and down) */
@media screen and (max-width: 470px) {
    #kommuneList td a {
        width: 100px;
    }
}

/* Small devices (tablets, 470px and down) */
@media screen and (max-width: 360px) {
    #kommuneList td a {
        width: 70px;
        font-size: 10px;
    }
}