/* legendBar */
.legendBar {
    padding: 5px;
}

.legendBar p {
    display: inline-block;
    margin-top: 10px;
    color: black;
    margin-left: 5px;
}

.legendBox {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.legendBar span {
    margin-left: 15px;
}

.rightLegend {
    float: right;
    cursor: pointer;
    font-size: 18px;
    color: #495156;
}

.rightLegend:hover {
    color: #818181;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

p.favorite {
    padding: 2px;
    background-color: #DDDDDD;
    color: black;
    margin-left: 5px;
    text-align: center;
}

.legendRemove {
    color: #495156;
    margin-top: 2px;
    margin-right: 5px;
}

.legendRemove:hover {
    color: red;
    cursor: pointer;
}