.legendBar {
    padding: 5px;
}

.legendBar p {
    display: inline-block;
    margin-top: 10px;
    color: black;
    margin-left: 5px;
}

.legendBox {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.legendBar span {
    margin-left: 10px;
}

.rightLegend {
    float: right;
    cursor: pointer;
    font-size: 18px;
    color: #495156;
}

.rightLegend:hover {
    color: #818181;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.fav {
    background-color: #DDDDDD;
    color: black;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
}

.favorite:hover {
    color: #6BA9BF;
    cursor: pointer;
}

.legendRemove {
    color: #495156;
    margin-right: 5px;
    top: 3px;
}

.legendRemove:hover {
    color: red;
    cursor: pointer;
}

/* Big devices (desktops, 1024px and down) */
@media screen and (max-width: 1024px) {
    .glyphicon-calendar {
        visibility: hidden;
    }
}


