/* Sets the navbar over everything */
.navbar {
    z-index: 1;
}
/* The brand name in the navbar */
.navbar-brand {
    color: #495156;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

/* When hovering over the brand name */
.navbar-brand:hover {
    color: #818181;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

/* Center text in navbar */
.center {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    z-index: -1;
    color: #495156;
    margin-top: 12px;
}

/* Sets the hamburger (that's in navbar-right) margin */
.navbar-right {
    margin: 0;
}

/* The sidebar icon */
.hamburger {
    font-size: 25px;
    left: -20px;
    color: #495156;
    margin: 2px /* Top Right Bottom Left */
}

/* Change hamburger hover color */
.hamburger:hover {
    color: #818181;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

/* Change hover of the hamburger button to same as navbar color */
.nav li a:hover {
    background-color: #f5f5f5; /*Change this color to the background color of the navbar */
}

/* Change the on.visited color on the hamburger to navbar color */
.nav li a:visited {
    background-color: #f5f5f5; /*Change this color to the background color of the navbar */
}

/* Navbar Search */
/* Cant do input[type="text"] because not IE6 compatible */
input.navSearch {
    width: 130px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 6px 20px 6px; /* Top Right Bottom Left */
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 6px;
}

/* navbar searchbar when focused */
input.navSearch:focus {
    width: 115%;
}

/* TODO TEMPORARY FIX NOT PRETTY AT ALL AND NOT FUNCTIONAL */
/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
    input.navSearch {
        display: none;
    }

    .navbar-light {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-header {
        display: none;
    }
}
