#navSearchContainer {
    margin-top: -20px;
    position: fixed;
    z-index: 1;
}

/* The main table css */
#navList {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #495156;
    font-size: 15px;
}

#navList td {
    text-align: left;
    background-color: #e5e5e5;
}

/* The list rows */
#navList td a {
    display: block;
    text-decoration: none;
    color: #495156;
    padding: 10px;
}

/* The list rows background / text when hovering */
#navList td a:hover {
    color: #fff;
    background-color: #495156;
}

/* Make the table chose when to have the scrollbar and height of the list box*/
#noScroll {
    height: 400px;
    overflow: auto;
    display: block;
}

