#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #495156;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    background-color: #e5e5e5;
}

    height: 400px;
    display: block;
}

#myTable td a {
    display: block;
    text-decoration: none;
    color: #495156;
    padding: 12px;
}

#myTable td a:hover {
    color: #fff;
}

#myTable th, #myTable td:hover {
    background-color: #495156;
}

#myTable tr {
    border-bottom: 1px solid #495156;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}