/* Sidebar background */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #495156;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    white-space: nowrap;
}

/* Sidebar links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f5f5f5; /* Color of the sidebar text */
    display: block;
}

/* Sidebar links when hovering over */
.sidenav a:hover, .offcanvas a:focus {
    color: #818181;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

/* Sidebar close button icon */
.sidenav .closebtn {
    position: absolute;
    top: 6px;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}