* {
    /* Change all font to Lucida Grande */
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    /* Change all rounded borders to square */
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    box-sizing: border-box; /* Make divs with same height and width the same - http://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-sizing */
}

body {
    background-color: #f5f5f5; /* Change BK-color for all pages */
}

/* <h1> on the frontpage */
#title {
    font-size: 8em;
    letter-spacing: -3px;
    font-weight: bold;
    color: #495156;
}

/* The grey / blue color */
.mainColor {
    background-color: #495156;
}

.mainColorText {
    color: #495156;
}

#indexSearch {
    z-index: -1;
}

/* Medium devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
    #title {
        font-size: 6em;
    }
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
    #title {
        font-size: 4em;
    }
}