/* Change all font to Lucida Grande */
* {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
   /* Change all rounded borders to square */
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

body {
    background-color: #f5f5f5;
}

/* Change the font size and position the icon 30px to the left of the screen edge */
.hamburger {
    font-size: 25px;
    left: -30px;
    color: #f1f1f1;
}

/* Change hover of the hamburger button to same as navbar color */
.nav > li > a:hover{
    background-color: #495156; /*Change this color to the background color of the navbar */
}

/* Change the on.visited color on the hamburger to navbar color */
.nav > li > a:visited{
    background-color: #495156; /*Change this color to the background color of the navbar */
}

#title {
    font-size: 120px;
    letter-spacing: -10px;
    font-weight: bold;
    color: #495156;
}